	
	/* accent color */

.pink-text.text-lighten-3, .datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #1e1f40 !important;
}

.btn, .btn-large, .btn-large:hover, .btn:hover, .btn-large:focus, .btn-large:active, .waves-button-input, .datepicker-date-display, .datepicker-table td.is-selected {
    color: #fff;
    background-color: #1e1f40;
}

	/* main bg colors */

.btn-floating {
	background: #fff;
	color: #000;
}

nav, .page-footer, .main, .main-left, .main-right {
	background: #1e1f40;
}

	/* loading animation color */

/*svg path,*/
svg rect {
  fill: #222;
}

#loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../view/img/loading.svg') 50% 50% no-repeat rgb(250,250,250);
  /*background-size: 100px 82px;*/
}

#msg {
	display: none;
}

#loader {
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 9999;
    text-align: center;
    /*background: #fff;*/
    height: 600px;
    width: 600px;
    display: none;
 }


.card.small {
    height: 400px;
} 

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]) {
	border-color: #1e1f40;	
	box-shadow: none;
}

.datepicker-table td.is-today {
	color: #000;
}

.main h5 {
	color: #fff;	
	font-size: 30px;
}

.main-con {
	/*width: 100%;*/
	/*background: red;*/
}

.main {
	/*padding: 250px 130px 300px 130px;	*/
	/*padding: 100px;*/
}

.main-left, .main-right {
	/*max-width: 200px;*/
	width: 50%;
	min-height: 900px;
}

.main-left {
	text-align: center;
}

.main-left img {
	max-width: 50%;
	margin-top: 25%;	
	transform: rotate(320deg);
	animation: controller 2s infinite;
}

@keyframes controller {
    0% {
    	transform: rotate(320deg);
    }
    50% {
    	transform: rotate(330deg);
    }
    100% {
    	transform: rotate(320deg);
    }
}

.main-right .row {
	margin-top: 25%;	
	text-align: left;
}

.main-right h5 {
	/*text-align: left;*/
}

#settingsbutt {
	/*display: none;*/
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.inforow {
	padding: 400px 0px 400px 0px;
	margin-top: 800px;
}

.games {
	background: #1e1f40;
	margin-bottom: 0px;
	padding: 300px 0px 300px 0px;
}

.games h3 {
	color: #eee;
	text-align: center;
	padding-top: 30px;
	font-size: 22px;
}

.moreinfo {
	background: #fff;
	margin-bottom: 0px;
	padding: 350px 0px 350px 0px
}

.moreinfo h3 {
	text-align: center;
	font-size: 35px;
}

.moreinfo p {
	padding: 20px;
	text-align: center;
}

/*nav*/

.logo {
	height: 65px;
}

nav, .page-footer {
	/*text-align: left;*/
	box-shadow: none;
}

.page-footer {
	padding: 0px;
}

nav ul li.active, .page-footer .footer-copyright {
    /*background: #222;*/
}

.brand-logo {
	margin-left: 10px;	
}

	/* dropdowns */
	
.dropdown-content {
	background: #eee;
	min-width: 250px;
	top: -50px;	
}

.dropdown-content li > a, .dropdown-content li > span {
	color: #1e1f40;
}

.dropdown-content li:hover, .select-dropdown.dropdown-content li:hover {
	background: #1e1f40;	
}

.dropdown-content li > a:hover, .dropdown-content li > span:hover, .select-dropdown.dropdown-content li, .select-dropdown.dropdown-content li.selected {
	color: #eee;
}

/*fix overlay issue*/
.sidenav {
	z-index: 999;
}
.sidenav-overlay {
    z-index: 990;
}

/*admin profile*/

.admin {
	background: #111;
	margin: 0 auto;
}

.content p, .content h3 {
	padding: 20px;
}

.adminleft {
	background: #eee;
	width: 100%;
	float: left;		
	text-align: center;
	min-height: 700px;	
}

.adminleft img {
	padding: 30px;
}

.adminright {
	/*background: pink;*/
	width: 100%;
	float: right;
	text-align: right;
	min-height: 700px;
	/*margin: 0 auto;*/
}

.adminright table {
	/*padding: 10px;*/
}

.adminright tr:hover {
	cursor: pointer;
	opacity: 0.6;
}

.text p, .text i {
	font-size: 18px;
}

#more {
	/*text-align: center;*/
}

.gameimg {
	max-width: 300px;
}

.admin h1 {
	font-size: 25px;
}

.admin h2 {
	font-size: 20px;
}

/* settings */

.spy {
	position: fixed;
	left: 13%;
	top: 20%;
	font-size: 20px;
	/*width: 40% !important*/
}

.settings {
	width: 70% !important;
	padding-right: 10% !important;
}

.switch label input[type="checkbox"]:checked + .lever::after {
background-color: #272856; 		
}

.switch label input[type="checkbox"]:checked + .lever {
background-color: #bbb; 	
}

.table-of-contents a.active, .table-of-contents a:hover {
    border-left: 2px solid #1e1f40;
    color: #1e1f40;
}

/*contract*/

.requests {
	display: inline-block;
	width: 100%;
}

.requestrow {
	/*display: inline-block;*/
	width: 50%;
	margin: 30px auto;
}

.requestcol {
	/*display: inline-block;*/
	width: 100% !important;	
}

.contact {
	position: fixed;
	bottom: 50px;
	right: 50px;
}

.contact:active {
	background: #b6aac1;
}

.datepicker-table td.is-today {
	border-bottom: 1px solid #000;
}

.btn-floating.btn-large i {
	font-size: 35px;
 	margin-left: -9px;
 	/*line-height: 39px;*/
}

/*requests*/

.contract {
	width: 80%;
	margin: 10px auto;
}

.submit {
	text-align: center;
}

.card {
	background: #ddd;
}

.card .card-content p {
	font-size: 16px;
}

.card .card-title {
	text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
	font-weight: 900;
}

.submit .btn-large {
	font-size: 20px;
	text-transform: none;
	/*height: 45px;*/
	/*height: 30px;*/
	/*padding: 10px;*/
}

.waves-button-input {
	line-height: 50px;
}

input::placeholder {
	color: #000 !important;
}

.error {
	color: red;
}

.card .card-image .card-title {
	color: #fff;
}

.submitupdate, .submitpay {
	margin-top: -20px;
}

.card-content p {
	font-size: 20px;
}

/*message*/

.message {
	margin: 50px auto;
	/*text-align: center;*/
	background: #ddd;
	font-weight: 600;
	padding: 40px;
	width: 80%;
}

/*log out*/

.logout {
	margin: 0 auto;
	/*text-align: center;*/
	/*background: #ddd;*/
	padding: 40px;
	width: 80%;
}

.logout h1 {
	font-size: 25px;
}

.logout p {
	font-size: 20px;
}

/*sticky footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

@media only screen and (max-width: 1200px) {
	.requestrow {
	/*display: inline-block;*/
	width: 90%;
	margin: 30px auto;
	}
	
	nav .brand-logo {
		font-size: 30px;
	}
}

@media only screen and (max-width: 600px) {
	.requestrow {
	/*display: inline-block;*/
	width: 100%;
	margin: 0px auto;
	}
	nav .brand-logo {
		font-size: 15px;
	}
}

/* <3 */
.luv a {
    text-align: center;
    color: #aaa;
}

.container {
text-align: center;
}

.row .col.l4, .row .col.offset-l2 {
width: 100%;
margin: 0 auto;
}

footer .luv::before, footer .luv::after {
    content: "♥";
    margin: 0px 5px 0px 5px;
    opacity: 0;
    transition: ease-in-out .3s;
}

footer .luv:hover:before, footer .luv:hover:after {
    opacity: 1 !important;
    transition: ease-in-out .3s;
}

.btn, .btn-large, .btn-large:hover, .btn:hover {	
	/*padding: 10px;*/
	margin-top: 20px;
}  

.btn-floating {
    width: 100px;
    height: 50px;
    border-radius: 0px;
    line-height: 50px;
    font-weight: 600;
    font-size: 17px;
}

.subcon {
	text-align: center;
	margin: 20px auto;
	padding: 20px;
}

.subcon .notice {	
	margin-top: 30px;
	color: blue;
	cursor: pointer;
}

.waves-button-input {
	cursor: pointer;	
}
